parameters:
    app_name: app

    bootstrap_theme: null

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_encryption: null
    mailer_auth_mode:  null
    mailer_host:       127.0.0.1
    mailer_port:       25
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    available_locales: ["es", "ca", "en", "fr"]
    country:           es

    secret:            ThisTokenIsNotSoSecretChangeIt
