{% extends 'AtekiaFlowlyBundle:Layout:default.html.twig' %}

{% block title %}
    {{ 'userinfo.add.title'|trans }}
{% endblock %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading"><h4>{{ 'userinfo.add.adduser'|trans }}</h4></div>
        <div class="panel-body">
            <p>{{ 'userinfo.add.description'|trans }}</p>
            <div class="bs-callout bs-callout-warning">{{ 'userinfo.add.warning'|trans }}</div>
            <div class="panel-body">
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}